.text-field {
    border-radius: 5px;
    width: 400px;
    border-radius: 5px;
    border: none;
    margin-right: 10px;
    padding: 5px;
    font-size: 16px;
    
}

input {
    border-radius: 5px;
    border: none;
    margin-right: 10px;
    padding: 5px;
    font-size: 16px;
}

.my-btn {
    background-color: #6f9cb9;
    color: #ffffff;
    font-size: 18px;
    font-weight: 500;
    width: 130px;
    padding: 5px;
    margin-top: 20px;
    border: 1px solid grey;
    border-radius: 5px;
}